.container {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
  z-index: 1;
}

canvas {
  position: absolute;
  width:100%;
  height: 100vh;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 1;
}


h1 {
	font-family: Times, Georgia, Serif;
	font-size: 120px;
  font-weight: normal;
	line-height: .85em;
	text-align: center;
	-webkit-animation: TEXT 7s infinite;
 	-moz-animation:    TEXT 7s infinite;
  	-o-animation:      TEXT 7s infinite;
  	animation:         TEXT 7s infinite;
  z-index: 2;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 0;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: underline;
    -webkit-animation: TEXT 7s infinite;
  -moz-animation:    TEXT 7s infinite;
    -o-animation:      TEXT 7s infinite;
    animation:         TEXT 7s infinite;
  z-index: 2;
  padding: 0;
  margin: 0;
}

ul {
  align-items: bottom;
	font-size: 18px;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
	font-family: Courier, Monospace;
	-webkit-animation: TEXT 7s infinite;
 	-moz-animation:    TEXT 7s infinite;
  	-o-animation:      TEXT 7s infinite;
  	animation:         TEXT 7s infinite;
  z-index: 3;
}

li {
  margin-bottom: 12px;
}

.arrow {
	position: absolute;
  font-family: Courier, Monospace;
	left: 5%;
	text-align: center;
	bottom: 5vh;
	font-size:36px;
	-webkit-animation: ARROW 5s infinite;
 	-moz-animation:    ARROW 5s infinite;
  	-o-animation:      ARROW 5s infinite;
  	animation:         ARROW 5s infinite;
    z-index: 4;
}

.content {
	width:100%;
	background-color: #1D48FF;
	color: white;
  z-index: 20;
  margin: 0;
  align-items: center;
  height: 100vh;
  display: flex;
}

.content-container {
  padding: 15px 45px;
}

p {
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	line-height:1.6em;
  margin: 15px 0px;
}

@media (max-width: 950px) {
  h1 {
    font-size: 80px;
    line-height: 1em;
    margin: 20px 0px;
  }

  .content {
    height: inherit;
  }

  .content-container {
    padding: 15px 15px;
  }

  p {
    font-size: 18px;
  }
}

@-webkit-keyframes TEXT {
  0%, 100%   { color: black; }
  50% { color: #1D48FF; }
  75% { color: #FF0090; }
}

@-moz-keyframes TEXT {
  0%, 100%   { color: black; }
  50% { color: #1D48FF; }
  75% { color: #FF0090; }
}

@-o-keyframes TEXT {
  0%, 100%   { color: black; }
  50% { color: #1D48FF; }
  75% { color: #FF0090; }
}

@keyframes TEXT {
  0%, 100%   { color: black; }
  50% { color: #1D48FF; }
  75% { color: #FF0090; }
}

@-webkit-keyframes ARROW {
  0%, 100%   { bottom:12vh; color: black;}
  50% { bottom:5vh; color: #FF0090; }
}

@-moz-keyframes ARROW {
  0%, 100%   { bottom:12vh; color: black;}
  50% { bottom:5vh; color: #FF0090; }
}

@-o-keyframes ARROW {
  0%, 100%   { bottom:12vh; color: black;}
  50% { bottom:5vh; color: #FF0090; }
}

@keyframes ARROW {
  0%, 100%   { bottom:12vh; color: black;}
  50% { bottom:5vh; color: #FF0090; }
}

